body {
  font-weight: 100;
  background-color: black;
  font-family: Calibri;
  font-size: 18px;
  color: #bbb;
}

h1 {
  font-size: 3rem;
  color: white;
  text-decoration: underline;
}

#input-box {
  width: 25%;
}
